VBox{
	-fx-background-color : #FFFFFF;
	-fx-padding : 10;
	
	-fx-border-color : #7F1619;
	-fx-border-width : 5;
	-fx-border-radius : 30;
	
	-fx-background-insets : 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius : 40;
    -fx-effect : dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

FlowPane{
	-fx-alignment : center;
	-fx-hgap : 20;
	-fx-padding : 30;
}

Label{
	-fx-font-size : 20;
	-fx-font-weight : bold;
}

Button{
	-fx-pref-width : 100;
	-fx-pref-height : 50;
	-fx-alignment : center;
	-fx-font-size : 12;
	-fx-font-weight : bold;
	-fx-background-color : #FFFFFF;
	-fx-border-color : #7F1619;
	-fx-border-radius : 40;
	
	-fx-background-insets : 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius : 40;
    -fx-effect : dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

Button:pressed{
	-fx-background-color : #AD7D80;
}