.contentItemBt{
	-fx-pref-height : 70;
	-fx-font-size : 20;
	-fx-border-color : #7F1619;
	-fx-border-radius : 10;
	-fx-background-color : #FFFFFF;
	-fx-background-insets : 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius : 10;
    -fx-effect : dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.contentItemBt:pressed{
	-fx-background-color : #AD7D80;
}

.upDownMoveBt{
	-fx-font-size : 20;
	-fx-font-weight : bold;
	-fx-background-color : #7F1619;
	-fx-text-fill : #FFFFFF;
	-fx-pref-width : 50;
	
	-fx-border-radius : 0;
	-fx-border-color : #FFFFFF;
	-fx-background-insets : 0;
    -fx-background-radius : 0;
}

.upDownMoveBt:pressed{
	-fx-background-color : #FFFFFF;
	-fx-border-color : #7F1619;
	-fx-text-fill : #7F1619;
}

